@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  background-repeat: no-repeat !important;
  min-width: 0px;
  min-height: 0px;
}

body {
  color: #555;
  margin: 0px;
  padding: 0px;
  font-family: 'Lora', serif;
  .main-content {
    margin: 30px;

    .header {
      font-size: 18pt;
      text-transform: capitalize;
    }
  }
}

a {
  color: #000;
  text-decoration: none !important;
  outline: none;
  &:hover {
    text-decoration: none;
    outline: none;
    color: #000;
  }
}

button {
  outline: none !important;
}

.ui-accordion .ui-accordion-header a {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #e7e3e1;
  border: 1px solid #e4d9d1;
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  text-decoration: none !important;
  &:hover {
    background: darken(#e4d9d1, 1%);
  }
}

.ui-accordion .ui-accordion-header a[aria-selected=true] {
  background: darken(#e4d9d1, 1%);
}

.ui-accordion .ui-accordion-content {
  background: #F8F6F5;
  font-family: "Segoe UI", sans-serif;
  font-size: 15px;
  line-height: 26px;
  border: 1px solid #e4d9d1;
  border-top: none;

}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*
@include media-breakpoint-down(md) {
	.header .flex-container{
		flex-direction: column-reverse;
		.header-logo{
			width: 100%!important;
			position: relative!important;
			img{
				width: 100px;
			}
		}
		.header-upper-nav{
			margin-bottom: 0!important;
			ul{
				width: 100%;
			}
		}
	}

}
*/

/*@include media-breakpoint-down(sm){

	.recipe-set{
		height: auto!important;
		flex-direction: column;

		&-image{
			width: 100%!important;
			overflow: hidden;
			height: 240px!important;
			a{
				display: block;
				height: auto!important;
				img{
					width: 100%;
				}
			}
		}

		&-detail{
			width: 100%!important;
			p{
				max-height: 80px!important;
			}
		}
	}


}*/

@include media-breakpoint-down(xs){
  .recipes{
    h1{
      font-size: 18px!important;
    }
  }
}

/*.ng2-pagination {
  padding: 1rem 0!important;
  li {
    background: #000 !important;
    cursor: pointer;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
     a, button{
      color: #fff!important;
       &:hover{
         background: #6ebe3b !important;
         color: #fff;
       }

    }
    &.current {
      background: #6ebe3b !important;
      color: #fff;
    }

    &.pagination-previous, &.pagination-next{
      font-family: 'Lora', serif;
      font-style: italic;
      background: transparent!important;

      a{
        color: #000!important;
        &:hover{
          background: none!important;
          color: #6ebe3b!important;
        }
      }
      &.disabled{
        color: #dddddd!important;
      }
    }

  }

}*/

.page-link {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border: 1px solid #ddd;
  font-weight: bold;
  font-family: 'Lora', sans-serif;
  &:hover{
    background: #6ebe3b;
    color: #fff;
  }
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover{
  background: #6ebe3b;
  color: #fff;
  border: 1px solid #ddd;
}

.page-item.disabled .page-link, .page-item.disabled .page-link:focus, .page-item.disabled .page-link:hover{
  background: #5e676b;
  color: #fff;
  cursor: not-allowed!important;
}
