
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	background-repeat: no-repeat !important;
	min-width: 0px;
	min-height: 0px;
}

body {
		color: #555;
		margin: 0px;
		padding: 0px;
		font-family: 'Lora', serif;
		.main-content {
			margin: 30px;

			.header {
					font-size: 18pt;
					text-transform: capitalize;				
			}
		}
}

a{
	color: #000;
	text-decoration: none;
	outline: none;
	&:hover{
		text-decoration: none;
		outline: none;
      color: #000;
	}
}

button{
	outline: none!important;
}