<div style="background: #F8F6F5;">

    <div class="recipes">
        <div class="container">

            <div class="recipes-title">
                <h1>Edit Recipe</h1>
            </div>

        </div>
    </div>


    <div *ngIf="recipe">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="recipe-create">
                        <h2>Edit Recipe</h2>
                        <p>Please fill all the forms and share your recipe with the world!</p>
                    </div>

                    <form class="recipe-form" [formGroup]="recipeForm" novalidate (ngSubmit)="onSubmit()">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Author</label>
                                    <input type="text" class="form-control" formControlName="author">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Upload Image</label>
                                    <input type="file" ng2FileSelect [uploader]="uploader" name="file" class="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="img-container" *ngIf="recipe.image != ''">
                            <img class="img-fluid" [src]="recipe.image" alt="">
                        </div>
                        <div class="form-group">
                            <label>Recipe Title</label>
                            <input type="text"
                                   class="form-control"
                                   formControlName="title"
                            >
                        </div>
                        <div class="form-group">
                            <label>Short Description</label>
                            <textarea name="description"
                                      rows="5"
                                      class="form-control"
                                      formControlName="description"
                            ></textarea>
                        </div>

                        <div class="top">
                            <label>Ingredients</label>
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       aria-describedby="basic-addon1"
                                       name="ingredient"
                                       [formControl]="ingredientName"
                                >
                                <span class="input-group-btn">
                                    <button style="background: #6ebe3b; color: #fff;"
                                            type="button"
                                            class="btn"
                                            id="basic-addon1"
                                            (click)="addIngredient(ingredientName.value)"
                                    >
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="ingredient-item"
                                 *ngFor="let ingredient of recipe.ingredients;let i = index">

                                <div class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           aria-describedby="basic-addon2"
                                           name="name-{{i}}"
                                           [value]="ingredient.name"
                                    >
                                    <span class="input-group-btn">
                                    <button style="background: #FF4136; color: #fff;"
                                            type="button"
                                            class="btn"
                                            id="basic-addon2"
                                            (click)="removeIngredient(i)">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </span>
                                </div>

                            </div>
                        </div>

                        <div class="top">
                            <label>Steps</label>
                            <div class="input-group">
                            <textarea class="form-control"
                                      aria-describedby="basic-addon3"
                                      name="direction"
                                      [formControl]="directionName"
                                      rows="5"
                            >
                            </textarea>
                                <span class="input-group-btn" style="vertical-align: top;">
                                    <button style="background: #6ebe3b; color: #fff;"
                                            type="button"
                                            class="btn"
                                            id="basic-addon3"
                                            (click)="addDirection(directionName.value)"
                                    >
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="ingredient-item"
                                 *ngFor="let steps of recipe.steps;let i = index">

                                <div class="input-group">
                                <textarea style="width: 100%"
                                          name="dName-{{i}}"
                                          class="form-control"
                                          rows="5"
                                          [value]="steps.description"
                                          aria-describedby="basic-addon4"
                                ></textarea>
                                    <span class="input-group-btn" style="vertical-align: top;">
                                    <button style="background: #FF4136; color: #fff;"
                                            type="button"
                                            class="btn"
                                            id="basic-addon4"
                                            (click)="removeDirection(i)">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </span>

                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Main Ingredient</label>
                                    <select formControlName="mainIngredientId"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem"
                                    >
                                        <option *ngFor="let mainIng of mainIngredient" [value]="mainIng.id">
                                            {{mainIng.name}}
                                        </option>
                                    </select>
                                </div>
                                <!-- <div class="alert alert-danger" [hidden]="mainIngredients.value">Required Field
                                 </div>-->
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Servings</label>
                                    <input type="text"
                                           class="form-control"
                                           formControlName="servings"
                                           onkeypress="if( (event.which &lt; 48 || event.which &gt; 57) ) return false;"
                                    >
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Occasion</label>
                                    <select formControlName="occasionId"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem"
                                    >
                                        <option *ngFor="let occ of occasion" [value]="occ.id">{{occ.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Ready In</label>
                                    <input type="text"
                                           class="form-control"
                                           formControlName="readyIn"
                                           onkeypress="if( (event.which &lt; 48 || event.which &gt; 57) ) return false;"
                                    >
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Recipe Type</label>
                                    <select formControlName="recipeTypeId"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem"
                                    >
                                        <option *ngFor="let type of recipeTypes" [value]="type.id">{{type.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Cuisine</label>
                                    <select formControlName="cuisineId"
                                            class="form-control font-italic" style="font-size: 0.875rem"
                                    >
                                        <option *ngFor="let cuisine of cuisines" [value]="cuisine.id">{{cuisine.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Course</label>
                                    <select formControlName="courseId"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem"
                                    >
                                        <option *ngFor="let course of courses" [value]="course.id">{{course.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Skill Level</label>
                                    <select formControlName="skillLevelId"
                                            class="form-control font-italic" style="font-size: 0.875rem" #skills
                                    >
                                        <option *ngFor="let skill of skillLevel" [value]="skill.id">{{skill.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="text-xs-center">
                                <button class="btn customButton" type="submit">Save Your
                                    Recipe
                                </button>
                            </div>

                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
