<div style="background: #F8F6F5;">

    <div class="recipes">
        <div class="container">

            <div class="recipes-title">
                <h1>Edit Recipe</h1>
            </div>

        </div>
    </div>

    <div *ngIf="recipe">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="recipe-create">
                        <h2>Edit Recipe</h2>
                        <p>Please fill all the forms and share your recipe with the world!</p>
                    </div>

                    <form class="recipe-form" [formGroup]="recipeForm" novalidate (ngSubmit)="onSubmit()">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Author</label>
                                    <input type="text" class="form-control" formControlName="author"
                                           (onkeydown)="noWhitespace($event)">
                                    <div *ngIf="recipeForm.controls['author'].hasError('required')"
                                         class="alert alert-danger">You must include author.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Upload Image</label>
                                    <input type="file"
                                           ng2FileSelect
                                           [uploader]="uploader"
                                           [formControl]="image"
                                           name="file"
                                           class="form-control"
                                           style="padding: 5px"/>
                                </div>
                            </div>
                        </div>

                        <!--<div class="img-container" *ngIf="recipe.image != ''">
                            <img class="img-fluid" [src]="recipe.image" alt="">
                        </div>-->

                        <div class="row">
                            <div *ngFor="let img of recipeForm.controls.images.value; let i = index">
                                <div class="col-md-4 ">
                                    <div class="img-container  img-thumbnail">
                                        <img class="img-fluid" [src]="img" alt="">
                                        <span (click)="removeImage(i)"> <i class="fa fa-remove"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Recipe Title</label>
                            <input type="text"
                                   class="form-control"
                                   formControlName="title"
                                   (onkeydown)="noWhitespace($event)">
                            <div *ngIf="recipeForm.controls['title'].hasError('required')" class="alert alert-danger">
                                You must include title.
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Short Description</label>
                            <textarea rows="5"
                                      class="form-control"
                                      formControlName="description"
                                      (onkeydown)="noWhitespace($event)">
                            </textarea>
                            <div *ngIf="recipeForm.controls['description'].hasError('required')"
                                 class="alert alert-danger">
                                You must include description.
                            </div>
                        </div>

                        <div class="top">
                            <label>Ingredients</label>
                            <div formArrayName="ingredients">
                                <div *ngFor="let ingredient of ingredients.controls; let i = index;"
                                     [formGroupName]="i">
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control"
                                               formControlName="description"
                                               (onkeydown)="noWhitespace($event)">
                                        <span class="input-group-btn"
                                              *ngIf="recipeForm.controls.ingredients.controls.length > 1">
                                            <button style="background: #FF4136; color: #fff;"
                                                    type="button"
                                                    class="btn"
                                                    (click)="removeIngredients(i)">
                                                 <i class="fa fa-remove"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div *ngIf="!recipeForm.controls.ingredients.controls[i].controls.description.valid && recipeForm.controls.ingredients.controls[i].controls.description.touched"
                                         class="alert alert-danger" style="margin-top: -25px;">
                                        Ingredient field is empty.
                                    </div>

                                </div>
                                <button type="button"
                                        (click)="addIngredients()"
                                        class="btn add"
                                        [disabled]="!ingredients.valid">
                                    <i class="fa fa-plus"></i>
                                </button>

                            </div>
                        </div>

                        <div class="top">
                            <label>Steps</label>
                            <div formArrayName="steps">
                                <div *ngFor="let step of steps.controls; let i = index;" [formGroupName]="i">
                                    <div class="input-group">
                                        <textarea class="form-control"
                                                  rows="5"
                                                  formControlName="stepDescription"
                                                  (onkeydown)="noWhitespace($event)">
                                        </textarea>
                                        <span class="input-group-btn"
                                              *ngIf="recipeForm.controls.steps.controls.length > 1"
                                              style="vertical-align: top;">
                                             <button style="background: #FF4136; color: #fff;"
                                                     type="button"
                                                     class="btn"
                                                     (click)="removeSteps(i)">
                                                 <i class="fa fa-remove"></i>
                                             </button>
                                        </span>
                                    </div>
                                    <div *ngIf="!recipeForm.controls.steps.controls[i].controls.stepDescription.valid && recipeForm.controls.steps.controls[i].controls.stepDescription.touched"
                                         class="alert alert-danger" style="margin-top: -25px;">
                                        Step field is empty.
                                    </div>
                                </div>
                                <button type="button"
                                        class="btn add"
                                        [disabled]="!steps.valid"
                                        (click)="addSteps()">
                                    <i class="fa fa-plus"></i>
                                </button>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Main Ingredient</label>
                                    <select formControlName="mainIngredientId"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem">
                                        <option *ngFor="let mainIng of mainIngredient" [value]="mainIng.id">
                                            {{mainIng.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Servings</label>
                                    <input type="text"
                                           class="form-control"
                                           formControlName="servings"
                                           onkeypress="if( (event.which &lt; 48 || event.which &gt; 57) ) return false;">
                                    <div *ngIf="recipeForm.controls['servings'].hasError('required')"
                                         class="alert alert-danger">
                                        You must include servings.
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Occasion</label>
                                    <select formControlName="occasionId"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem">
                                        <option *ngFor="let occ of occasion" [value]="occ.id">{{occ.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Ready In</label>
                                    <input type="text"
                                           class="form-control"
                                           formControlName="readyIn"
                                           onkeypress="if( (event.which &lt; 48 || event.which &gt; 57) ) return false;">
                                    <div *ngIf="recipeForm.controls['readyIn'].hasError('required')"
                                         class="alert alert-danger">
                                        You must include time.
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Recipe Type</label>
                                    <select formControlName="recipeTypeId"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem">
                                        <option *ngFor="let type of recipeTypes" [value]="type.id">{{type.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Cuisine</label>
                                    <select formControlName="cuisineId"
                                            class="form-control font-italic" style="font-size: 0.875rem">
                                        <option *ngFor="let cuisine of cuisines" [value]="cuisine.id">{{cuisine.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Course</label>
                                    <select formControlName="courseId"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem">
                                        <option *ngFor="let course of courses" [value]="course.id">{{course.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Skill Level</label>
                                    <select formControlName="skillLevelId"
                                            class="form-control font-italic" style="font-size: 0.875rem" #skills>
                                        <option *ngFor="let skill of skillLevel" [value]="skill.id">{{skill.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="text-xs-center">
                                <button class="btn customButton" type="submit" [disabled]="!recipeForm.valid || recipe.images.length < 1">Save Your
                                    Recipe
                                </button>
                            </div>

                        </div>

                    </form>
                    <!--<pre>{{recipeForm.value | json}}</pre>-->
                </div>

            </div>
        </div>
    </div>
</div>
