.recipes {
  background: url("http://res.cloudinary.com/wenger88/image/upload/v1479887096/free-food-backgrounds-7_khzmph.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 210px;

  &-title {
    background: #fff;
    padding: 10px;
    font-family: "Segoe UI", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 40px;
    h1 {
      margin: 0;
      font-size: 24px;
      padding: 20px 40px;
      border: 1px solid #e4d9d1;
      font-weight: bold;
    }

  }

}

.recipe-create {
  overflow: hidden;
  margin-top: 50px;
  transition: all .5s ease-in;

  h2 {
    margin-top: 0;
    font-size: 24px;
    position: relative;
    font-family: Lora, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 30px;

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      position: absolute;
      background: #e7e3e1;
      margin-left: 20px;
      margin-top: 15px;
    }

  }

  p {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

}

.recipe-form {
  font-family: "Segoe UI";
  padding: 30px 25px 60px;
  background: #fff;
  .form-group, .input-group {
    margin-bottom: 30px;
  }
  label {
    font-weight: 700;
    font-size: 16px;
    color: #514b49;
    margin-bottom: 10px;
  }
  input, textarea, select {
    outline: none;
    border: 1px solid #e4d9d1;
  }
  textarea {
    resize: none;
  }
  .customButton {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    background: #6ebe3b;
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    margin-top: 40px;
    transition: 0.2s all ease-in-out;
    border-radius: 0;
    &:hover {
      background: #000000;
    }
  }

  .add{
    margin-top: 0;
    margin-bottom: 30px;
    background: #6ebe3b;
    color: #fff;
    transition: 0.2s all ease-in-out;
    border-radius: 0;
    border: none;
    font-size: 16px;
    &:hover {
      background: #000000;
    }
  }

  .alert-danger {
    margin-top: 5px;
  }
}


.img-container {
  margin-bottom: 20px;
  height: 125px;
  overflow: hidden;
  position: relative;

  img{
    width: 100%;
    height: 100%;
  }

  span{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #FF4136;
    color: #fff;
    top: 0px;
    text-align: center;
    line-height: 30px;
    right: 0px;
    border-bottom-left-radius: 0.25rem;
    cursor: pointer;
    &:hover{
      background: #000000;
    }
  }
}