<div *ngIf="recipe">
    <div class="container">


        <div class="row">

            <div class="recipe-create">
                <h2>Submit Recipe</h2>
                <p>Food Recipe theme include a Recipe Submit Template. It allow users to submit a recipe with featured
                    image and related details. A user should be logged in to submit a recipe.</p>
            </div>

            <form #recipeForm="ngForm" novalidate (ngSubmit)="onSubmit()" (keydown.enter)="keyDownFunction($event)">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label>Image Url</label>
                        <input type="text"
                               class="form-control"
                               name="image"
                               #image="ngModel"
                               [(ngModel)]="recipe.image"
                               required
                        >
                    </div>
                    <div class="img-container" [hidden]="!image.valid">
                        <img class="img-responsive" [src]="recipe.image" alt="">
                    </div>
                    <div class="form-group">
                        <label>Recipe Title</label>
                        <input type="text"
                               class="form-control"
                               name="title"
                               [(ngModel)]="recipe.title"
                               #title="ngModel"
                               required>
                    </div>
                    <div class="form-group">
                        <label>Short Description</label>
                        <textarea name="description"
                                  rows="5"
                                  class="form-control"
                                  [(ngModel)]="recipe.description"
                                  #description="ngModel"
                                  required
                        ></textarea>
                    </div>
                    <div>
                        <div class="top">
                            <label>Ingredients</label>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label>Add New Ingredients</label>
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="ingredient" ngModel #ingredientName>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <button type="button"
                                                    class="btn btn-sm btn-success"
                                                    (click)="addIngredient(ingredientName)"
                                                    [disabled]="ingredientName.value == ''">ADD
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item ingredient-item"
                                    *ngFor="let ingredient of recipe.ingredients;let i = index">
                                    <div class="row">

                                        <div class="col-xs-10">
                                            <input type="text"
                                                   class="form-control"
                                                   name="name-{{i}}"
                                                   [(ngModel)]="ingredient.name"
                                                   #ingredientName="ngModel"
                                                   required
                                            >
                                        </div>
                                        <div class="col-xs-2">
                                            <button class="btn btn-sm btn-danger" (click)=" removeIngredient(i)">X
                                            </button>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger" [hidden]="ingredientName.valid">
                                        Ingredient name is required
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: space-around; align-content: center">
                        <div class="form-group" style="flex: 1">
                            <label>Select an occasion</label>
                            <select [(ngModel)]="recipe.occasionId" name="occasion" class="form-control font-italic" style="font-size: 0.875rem">
                                <option>Select an occasion</option>
                                <option *ngFor="let o of occasion.occasion" [value]="o.id">{{o.name}}</option>
                            </select>
                        </div>
                        <div class="form-group" style="flex: 1">
                            <label>Select a cuisine</label>
                            <select [(ngModel)]="recipe.cuisineId" name="cuisine" class="form-control font-italic" style="font-size: 0.875rem">
                                <option>Select a cuisine</option>
                                <option *ngFor="let c of cuisine.cuisine" [value]="c.id">{{c.name}}</option>
                            </select>
                        </div>
                    </div>


                </div>

                <button class="btn btn-warning pull-left customButton" type="submit">Save</button>

            </form>
        </div>
    </div>
</div>