
<div style="background: #F8F6F5;">

    <div class="recipes">
        <div class="container">

            <div class="recipes-title">
                <h1>Submit Recipe</h1>
            </div>

        </div>
    </div>


    <div *ngIf="recipe">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="recipe-create">
                        <h2>Submit Recipe</h2>
                        <p>Please fill all the forms and share your recipe with the world!</p>
                    </div>

                    <form class="recipe-form" #recipeForm="ngForm" novalidate (ngSubmit)="onSubmit()"
                          (keydown.enter)="keyDownFunction($event)">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Author</label>
                                    <input type="text" class="form-control" [(ngModel)]="recipe.author" #author="ngModel" name="author" required>
                                </div>
                                <div class="alert alert-danger" [hidden]="author.valid">Author is
                                    required
                                </div>
                            </div>
                            <!--<div class="col-sm-6">
                                <div class="form-group text-sm-left">
                                    <label>Rating</label>
                                    <div style="padding: 7px">
                                        <p-rating style="display: inline-block" [(ngModel)]="recipe.rating" [cancel]="false" name="rating" ></p-rating>
                                    </div>
                                </div>
                            </div>-->
                        </div>


                        <!--<div class="form-group">
                            <label>Image Url</label>
                            <input type="text"
                                   class="form-control"
                                   name="image"
                                   #image="ngModel"
                                   [(ngModel)]="recipe.image"
                                   required
                                   pattern="(?:([^:/?#]+):)?(?://([^/?#]*))?([^?#]*\.(?:jpe?g|gif|png))(?:\?([^#]*))?(?:#(.*))?"
                            >
                        </div>
                        <div class="alert alert-danger" [hidden]="image.valid">Ready time is
                            required
                        </div>-->
                        <!--<div class="img-container" [hidden]="!image.valid">
                            <img class="img-fluid" [src]="recipe.image" alt="">
                        </div>-->
                        <div class="form-group">
                            <label>Upload Image</label>
                            <!--<input type="file" ng2FileSelect [uploader]="uploader" name="file" />-->
                            <file-upload [recipe]="recipe" ></file-upload>
                            <cl-image public-id="" [options]="options"></cl-image>
                        </div>
                        <div class="form-group">
                            <label>Recipe Title</label>
                            <input type="text"
                                   class="form-control"
                                   name="title"
                                   [(ngModel)]="recipe.title"
                                   #title="ngModel"
                                   required>
                        </div>
                        <div class="alert alert-danger" [hidden]="title.valid">Ready time is
                            required
                        </div>
                        <div class="form-group">
                            <label>Short Description</label>
                            <textarea name="description"
                                      rows="5"
                                      class="form-control"
                                      [(ngModel)]="recipe.description"
                                      #description="ngModel"
                                      required
                            ></textarea>
                        </div>
                        <div class="alert alert-danger" [hidden]="description.valid">Ready time is
                            required
                        </div>
                        <div class="top">
                            <label>Ingredients</label>
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       aria-describedby="basic-addon1"
                                       name="ingredient"
                                       ngModel
                                       #ingredientName>
                                <span class="input-group-btn">
                                    <button style="background: #6ebe3b; color: #fff;"
                                            type="button"
                                            class="btn"
                                            id="basic-addon1"
                                            (click)="addIngredient(ingredientName)"
                                            [disabled]="ingredientName.value == ''">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="ingredient-item"
                                 *ngFor="let ingredient of recipe.ingredients;let i = index">

                                <div class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           aria-describedby="basic-addon2"
                                           name="name-{{i}}"
                                           [(ngModel)]="ingredient.name"
                                           #ingredientName="ngModel"
                                           required>
                                    <span class="input-group-btn">
                                    <button style="background: #FF4136; color: #fff;"
                                            type="button"
                                            class="btn"
                                            id="basic-addon2"
                                            (click)="removeIngredient(i)">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </span>
                                </div>
                                <div class="alert alert-danger" [hidden]="ingredientName.valid">
                                    Ingredient is required
                                </div>
                            </div>
                        </div>

                        <div class="top">
                            <label>Steps</label>
                            <div class="input-group">
                            <textarea class="form-control"
                                      aria-describedby="basic-addon3"
                                      name="direction"
                                      #directionName
                                      rows="5"
                                      ngModel>
                            </textarea>
                                <span class="input-group-btn" style="vertical-align: top;">
                                    <button style="background: #6ebe3b; color: #fff;"
                                            type="button"
                                            class="btn"
                                            id="basic-addon3"
                                            (click)="addDirection(directionName)"
                                            [disabled]="directionName.value == ''"
                                    >
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="ingredient-item"
                                 *ngFor="let steps of recipe.steps;let i = index">

                                <div class="input-group">
                                <textarea style="width: 100%"
                                          name="dName-{{i}}"
                                          [(ngModel)]="steps.name"
                                          class="form-control"
                                          rows="5"
                                          required
                                          #directionName="ngModel"
                                          aria-describedby="basic-addon4"
                                ></textarea>
                                    <span class="input-group-btn" style="vertical-align: top;">
                                    <button style="background: #FF4136; color: #fff;"
                                            type="button"
                                            class="btn"
                                            id="basic-addon4"
                                            (click)="removeDirection(i)">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </span>

                                </div>
                                <div class="alert alert-danger" [hidden]="directionName.valid">Steps are required
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Main Ingredient</label>
                                    <select [(ngModel)]="recipe.mainIngredientId" name="recipeType"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem" #mainIngredients (change)="findMainIngredientName(mainIngredients.value)">
                                        <option *ngFor="let mainIng of mainIngredient" [value]="mainIng.id">{{mainIng.name}}</option>
                                    </select>
                                </div>
                                <div class="alert alert-danger" [hidden]="mainIngredients.value">Required Field
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Servings</label>
                                    <input type="text"
                                           class="form-control"
                                           name="servings"
                                           [(ngModel)]="recipe.servings"
                                           #servings="ngModel"
                                           required>
                                </div>
                                <div class="alert alert-danger" [hidden]="servings.valid">Servings is required
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Occasion</label>
                                    <select [(ngModel)]="recipe.occasionId" name="occasion"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem" #occasions (change)="findOccasionName(occasions.value)">
                                        <option *ngFor="let occ of occasion" [value]="occ.id">{{occ.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Preparation Time</label>
                                    <input type="text"
                                           class="form-control"
                                           name="preparation"
                                           [(ngModel)]="recipe.preparationTime"
                                           #preparation="ngModel"
                                           required>
                                </div>
                                <div class="alert alert-danger" [hidden]="preparation.valid">Prep time is
                                    required
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Cook Time</label>
                                    <input type="text"
                                           class="form-control"
                                           name="cookTime"
                                           [(ngModel)]="recipe.cookTime"
                                           #cookTime="ngModel"
                                           required>
                                </div>
                                <div class="alert alert-danger" [hidden]="cookTime.valid">Cooking time is
                                    required
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Ready In</label>
                                    <input type="text"
                                           class="form-control"
                                           name="ready"
                                           [(ngModel)]="recipe.readyIn"
                                           #ready="ngModel"
                                    >
                                </div>
                                <div class="alert alert-danger" [hidden]="ready.valid">Ready time is
                                    required
                                </div>
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <label>Tags</label>
                            <input type="text"
                                   class="form-control"
                                   name="tags"
                                   [(ngModel)]="recipe.tags"
                                   #tags="ngModel"
                            >
                        </div>-->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Recipe Type</label>
                                    <select [(ngModel)]="recipe.recipeTypeId" name="recipeType"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem" #recipeType (change)="findRecipeTypeName(recipeType.value)">
                                        <option *ngFor="let type of recipeTypes" [value]="type.id">{{type.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Cuisine</label>
                                    <select [(ngModel)]="recipe.cuisineId" name="cuisine"
                                            class="form-control font-italic" style="font-size: 0.875rem" #cuisine (change)="findCuisineName(cuisine.value)">
                                        <option *ngFor="let cuisine of cuisines" [value]="cuisine.id">{{cuisine.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Course</label>
                                    <select [(ngModel)]="recipe.courseId" name="course" class="form-control font-italic"
                                            style="font-size: 0.875rem" #course (change)="findCourseName(course.value)">
                                        <option *ngFor="let course of courses" [value]="course.id">{{course.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Skill Level</label>
                                    <select [(ngModel)]="recipe.skillLevelId" name="skillLevel"
                                            class="form-control font-italic" style="font-size: 0.875rem" #skills (change)="findSkillLevelName(skills.value)">
                                        <option *ngFor="let skill of skillLevel" [value]="skill.id">{{skill.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="text-xs-center">
                                <button class="btn customButton" type="submit" [disabled]="!recipeForm.dirty || !recipeForm.valid">Submit Your Recipe</button>
                            </div>

                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
