<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row flex-container">
                    <div class="col-lg-2 col-xs-12 text-sm-center text-xs-center">
                        <div class="header-logo">
                            <img src="images/vector_chief_food_logo.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-10 col-xs-12 text-sm-center text-xs-center">
                        <div class="header-upper-nav clearfix">
                            <ul class="list-inline float-sm-right">
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li class="">
                                    <a href="" class="list-inline-item-btn">Login</a>
                                </li>
                                <li class="">
                                    <a href="" class="list-inline-item-btn">Register</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <nav class="navbar navbar-light bg-faded">
                            <button class="navbar-toggler hidden-md-up " [ngClass]="{'collapsed': isCollapsed}"
                                    type="button" data-toggle="collapse"
                                    data-target="#navbarResponsive" aria-controls="navbarResponsive"
                                    [attr.aria-expanded]="!isCollapsed"
                                    aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"></button>
                            <div class="collapse navbar-toggleable-sm" [attr.aria-expanded]="!isCollapsed"
                                 [ngClass]="{'in': !isCollapsed}" id="navbarResponsive">
                                <a class="navbar-brand" href="#"></a>

                                <ul class="nav navbar-nav float-md-right">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/recipes']"
                                           routerLinkActive="active" (click)="closeNav()">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" (click)="closeNav()">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" (click)="closeNav()">Recent Recipes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" (click)="closeNav()">Chefs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" (click)="closeNav()">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" (click)="closeNav()">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a [routerLink]="['/create']" class="btn nav-item-btn" (click)="closeNav()">Submit Recipe</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>

                    </div>
                </div>


            </div>

        </div>

    </div>


</header>