<!--
<div class="header">
	<div class="brand-name">Aww Inc</div>
	<div class="top-navigation">
		<a routerLink="/puppies" routerLinkActive="active">puppies</a>
		<a routerLink="/kittens" routerLinkActive="active">kittens</a>
		<a routerLink="/otters" routerLinkActive="active">otters</a>
	</div>
</div>-->

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="header-logo">
                    <img src="images/vector_chief_food_logo.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-10">
                <div class="header-upper-nav clearfix">
                    <ul class="list-inline float-sm-right">
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="">
                            <a href="" class="list-inline-item-btn">Login</a>
                        </li>
                        <li class="">
                            <a href="" class="list-inline-item-btn">Register</a>
                        </li>
                    </ul>
                </div>
                <nav class="navbar">
                    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse"
                            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                            aria-label="Toggle navigation"></button>
                    <div class="collapse navbar-toggleable-md" id="navbarResponsive">
                        <a class="navbar-brand" href="#"></a>

                        <ul class="nav navbar-nav float-sm-right">
                            <li class="nav-item active">
                                <a class="nav-link" [routerLink]="['/recipes']">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Recent Recipes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Chefs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/create']" class="btn nav-item-btn">Submit Recipe</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

        </div>

    </div>


</header>