@import "~bootstrap/scss/bootstrap";


.header{
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: italic;
  color: #000;

  .flex-container{
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &-logo{
    position: absolute;
    left: 15px;
    width: 100px;
    top:10px;
  }

  &-upper-nav{
    margin-bottom: 30px;

    li{
      display: inline-block;
      a{
        color: #000;
        text-decoration: none;
      }
    }

  }
  .list-inline-item{
    margin-right: 15px;
    a{
      &:hover{
        color: #6ebe3b;
      }
    }
    &-btn{
      border: 1px solid #000000;
      padding: 6px 12px;
      margin: 0;
      &:hover{
        background: #000000;
        color: #fff!important;
      }
    }

  }

}

.navbar{
  padding: 0;
  background: none;

  .navbar-nav{

    .nav-item{
      margin-left: 28px;

      .nav-link{
        color: #000;
        &:hover{
          color: #6ebe3b;
        }
      }
      &-btn{
        color: #fff;
        background: #6EBE3B;
        border: 0;
        border-radius: 0;
        font-size: 1.1rem;
        outline: 0;
        &:hover{
          background: #000000;
        }
      }

    }

  }

}

@include media-breakpoint-down(md) {
  .header .flex-container{
    flex-direction: column-reverse;
    .header-logo{
      width: 100%!important;
      position: relative!important;
      top: 0!important;
      img{
        width: 100px;
      }
    }
    .header-upper-nav{
      margin-bottom: 0!important;
      ul{
        width: 100%;
      }
    }
  }

}

.collapse.in{
  display: block;
}