<div class="row">
    <div class="filter clearfix">
        <div class="col-xs-12" style="overflow: hidden">
            <button (click)="showFilter()" [ngClass]="{active: show}" type="button" class="btn filter-show">Find Recipes
                <i class="fa fa-chevron-down"></i></button>
        </div>
        <div class="col-xs-12" style="overflow: hidden;">

            <form [formGroup]="filterForm" novalidate (ngSubmit)="onSubmit()">
                <div class="filter-container" *ngIf="show" [@flyInOut]="show">
                    <div class="filter-fields">
                        <div class="filter-fields-form">
                            <div class="form-group">
                                <label>Ingredient</label>
                                <recipe-ingredient-filter
                                        [control]="filterForm.controls['mainIngredientId']"></recipe-ingredient-filter>
                            </div>
                        </div>
                        <div class="filter-fields-form">
                            <div class="form-group">
                                <label>Course</label>
                                <recipe-course-filter
                                        [control]="filterForm.controls['courseId']"></recipe-course-filter>
                            </div>
                        </div>
                        <div class="filter-fields-form">
                            <div class="form-group">
                                <label>Cuisine</label>
                                <recipe-cuisine-filter
                                        [control]="filterForm.controls['cuisineId']"></recipe-cuisine-filter>
                            </div>
                        </div>
                        <div class="filter-fields-form">
                            <div class="form-group">
                                <label>Cooking Time</label>
                                <recipe-ready-filter
                                        [control]="filterForm.controls['readyIn_lte']"></recipe-ready-filter>
                            </div>
                        </div>
                        <div class="filter-fields-form">
                            <div class="form-group">
                                <label>Occasion</label>
                                <recipe-occasion-filter
                                        [control]="filterForm.controls['occasionId']"></recipe-occasion-filter>
                            </div>
                        </div>
                        <div class="form-filter-btn">
                            <button type="submit" class="btn searchButton" (click)="showFilter()"
                                    [disabled]="filterForm.value.cuisineId == null && filterForm.value.mainIngredientId == null && filterForm.value.courseId == null && filterForm.value.readyIn_lte == null && filterForm.value.occasionId == null ">
                                <i class="fa fa-search"></i></button>
                        </div>

                    </div>
                    <div class="form-clear-filter-btn"
                         *ngIf="filterForm.value.cuisineId != null || filterForm.value.mainIngredientId != null || filterForm.value.courseId != null || filterForm.value.readyIn_lte != null || filterForm.value.occasionId != null ">
                        <button (click)="reset()" type="button"><i class="fa fa-remove"></i></button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
