
.recipes {
  background: url("http://res.cloudinary.com/wenger88/image/upload/v1479887096/free-food-backgrounds-7_khzmph.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 210px;

  &-title {
    background: #fff;
    padding: 10px;
    font-family: "Segoe UI", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 40px;
    h1 {
      margin: 0;
      font-size: 24px;
      padding: 20px 40px;
      border: 1px solid #e4d9d1;
      font-weight: bold;
    }

  }

}