<div class="recipes">
    <div class="container">

        <div class="recipes-title">
            <h1>Recipe Details Page</h1>
        </div>

    </div>
</div>

<div *ngIf="recipe">
    <div class="container">
        <div class="row">

            <div class="col-lg-9 col-md-12">

                <div class="recipe-details-header">
                    <h2>{{recipe.title}}</h2>
                </div>

                <div class="recipe-details-image">

                    <figure>
                        <img [src]="recipe.image" class="img-fluid" alt="">
                        <figcaption>
                            <ul class="recipe-details-specs">
                                <li><span>Main: </span>{{recipe.mainIngredientName}}</li>
                                <li><span>Servings: </span>{{recipe.servings}}</li>
                                <!--<li><span>Prep Time: </span>{{recipe.preparationTime}} m</li>
                                <li><span>Cook Time: </span>{{recipe.cookTime}} m</li>-->
                                <li><span>Ready In: </span>{{recipe.readyIn | convertMinutes}}</li>
                            </ul>
                        </figcaption>
                    </figure>

                </div>

                <div class="recipe-details-body">

                    <div class="body-tags">
                        <ul class="body-tags-list">
                            <li><span>Cuisine: </span>{{recipe.cuisineName}}</li>
                            <li><span>Course: </span>{{recipe.courseName}}</li>
                            <li><span>Skill Level: </span>{{recipe.skillLevelName}}</li>
                            <li class="text-md-right">
                                <p-rating style="display: inline-block" [(ngModel)]="recipe.rating" [cancel]="false"
                                          readonly="true"></p-rating>
                            </li>
                        </ul>
                    </div>

                    <div class="body-description">
                        <p>{{recipe.description}}</p>
                    </div>

                    <fieldset class="body-ingredients">
                        <legend><h3>Ingredients</h3></legend>
                        <ul>
                            <li *ngFor="let ingredient of recipe.ingredients; let i = index">
                                <input type="checkbox" [attr.name]="'checkbox'+i" [attr.id]="'checkbox'+i"
                                       class="css-checkbox"/>
                                <label [attr.for]="'checkbox'+i" class="css-label">{{ingredient.description}}</label>
                            </li>
                        </ul>
                    </fieldset>

                    <div class="body-steps">
                        <h3 class="lined">Step by Step method</h3>
                        <p-accordion>
                            <p-accordionTab *ngFor="let step of recipe.steps; let i = index" header="Step {{i+1}}"
                                            [selected]="i==0">
                                {{step.description}}
                            </p-accordionTab>
                        </p-accordion>
                    </div>
                    <div class="body-author">
                        <h3 class="lined">Written By: <span>{{recipe.author}}</span></h3>
                    </div>

                    <div class="clearfix">
                        <button class="btn customButton edit btn-primary float-xs-left" type="button"
                                [routerLink]="['/recipe-edit', recipe.id]"><i class="fa fa-pencil-square-o"></i> Edit
                        </button>
                        <button class="btn customButton btn-danger float-xs-right" type="button" (click)="onDelete()"><i
                                class="fa fa-trash-o"></i> Delete
                        </button>
                    </div>

                    <div class="recipe-comments">
                        <h2>Rate and Review</h2>
                    </div>
                    <recipe-comment [recipe]="recipe" [comments]="comments"></recipe-comment>

                </div>

            </div>
        </div>
    </div>

</div>
