@import "~bootstrap/scss/bootstrap";

.recipes {
  background: url("http://res.cloudinary.com/wenger88/image/upload/v1479887096/free-food-backgrounds-7_khzmph.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 210px;

  &-title {
    background: #fff;
    padding: 10px;
    font-family: "Segoe UI", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 40px;
    h1 {
      margin: 0;
      font-size: 24px;
      padding: 20px 40px;
      border: 1px solid #e4d9d1;
      font-weight: bold;
    }

  }

}

.recipe-details-header {
  overflow: hidden;
  margin-top: 50px;
  transition: all .5s ease-in;
  h2 {
    margin-top: 0;
    font-size: 24px;
    position: relative;
    font-family: Lora, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 30px;

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      position: absolute;
      background: #e7e3e1;
      margin-left: 20px;
      margin-top: 15px;
    }
  }
}

.details-image {
  width: 100%;
  height: 436px;
}

figure {
  img {
    width: 100%;
    min-width: 100%;
    max-height: 436px;
  }

  figcaption {
    .recipe-details-specs {
      display: flex;
      background: #000000;
      color: #ffffff;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      li {
        min-width: 144px;
        font-family: "Segoe UI", sans-serif;
        font-weight: 400;
        flex: 1;
        text-align: center;
        border-right: 1px solid #2c2c2c;
        border-bottom: 1px solid #2c2c2c;
        padding: 16px 0;
        font-size: 14px;
        transition: 0.2s all ease-in-out;
        list-style: none;
        span {
          color: #aa9f9a;
        }
      }
    }

  }
}

.recipe-details-body {
  margin-bottom: 60px;
  overflow: hidden;
  background: #ffffff;
  padding: 25px 40px;
  color: #000000;

  .body-tags-list {
    display: flex;
    border-bottom: 1px solid #e4d9d1;
    padding-left: 0;
    padding-bottom: 10px;
    li {
      flex: 1;
      list-style: none;
      font-family: "Segoe UI", sans-serif;
      font-weight: 700;
      font-size: 14px;
      &:last-of-type {
        flex: 1;
      }
      span {
        font-weight: 400;
      }
    }
  }

  .body-description {
    font-family: "Segoe UI", sans-serif;
    font-size: 15px;
    line-height: 26px;
  }

  .body-ingredients {

    background: #F8F6F5;
    padding: 25px;
    margin-bottom: 52px;
    margin-top: 50px;
    border: 1px solid #e4d9d1;

    legend {
      width: auto;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 20px;
      font-family: 'Lora', serif;
      font-style: italic;
      font-weight: 700;
      color: #000000;
    }

    ul {
      padding-left: 0;
    }

    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 24px;
      list-style: none;
      font-family: "Segoe UI", sans-serif;
      font-weight: 400;
      font-size: 15px;
      vertical-align: middle;
      cursor: pointer;

      input[type=checkbox].css-checkbox {
        position: absolute;
        z-index: -1000;
        left: -1000px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
      }

      input[type=checkbox].css-checkbox + label.css-label {
        padding-left: 50px;
        height: 25px;
        display: inline-block;
        line-height: 25px;
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: middle;
        cursor: pointer;

      }

      input[type=checkbox].css-checkbox:checked + label.css-label {
        background-position: 0 -25px;
      }
      label.css-label {
        background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_391ce065f36b1460c4845fa9b5173fba.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: baseline !important;
      }
    }
  }

  .body-steps, .body-author {
    margin: 50px 0;
    overflow: hidden;
    h3.lined {
      font-family: 'Lora', serif;
      font-style: italic;
      font-weight: 700;
      color: #000000;
      margin-bottom: 30px;
      padding: 2px 0;
      font-size: 18px;
      position: relative;
      &:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        position: absolute;
        background: #e7e3e1;
        margin-left: 20px;
        margin-top: 10px;
      }
    }
    .step-list {
      padding: 0;
      margin: 0;
      &-item {
        list-style: none;
        padding: 20px;
        background: #F8F6F5;
        margin: 10px 0px;
        list-style: none;
        border: 1px solid #e4d9d1;
        &-detail {
          h3 {
            font-family: 'Lora', serif;
            font-style: italic;
            font-weight: 700;
            color: #000000;
            margin-bottom: 20px;
            margin-top: 5px;
            font-size: 18px;
          }
          p {
            font-family: "Segoe UI", sans-serif;
            font-size: 15px;
            line-height: 26px;
          }
        }
      }
    }

  }

  .body-author {
    margin: 50px 0 10px 0;
    h3.lined {
      font-weight: 400;
      font-size: 1em;
    }

    span {
      font-weight: 700;
    }

  }

  .customButton {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    margin-top: 0px;
    transition: 0.2s all ease-in-out;
    border-radius: 0;
  }

  .recipe-comments {
    margin: 50px 0 10px 0;
    h2 {
      margin-top: 0;
      font-size: 24px;
      position: relative;
      font-family: Lora, sans-serif;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 30px;

      &:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        position: absolute;
        background: #e7e3e1;
        margin-left: 20px;
        margin-top: 15px;
      }
    }
  }

}

@include media-breakpoint-down(sm) {
  .body-tags-list {
    flex-direction: column;
    li {
      padding: 5px 0;
      text-align: center;
    }
  }
}

@include media-breakpoint-down(xs) {
  .recipe-details-body {
    padding: 0 !important;
    .body-ingredients {
      li {
        padding-left: 0 !important;
      }
    }
  }
}