
.post-comment {
  font-size: 14px;
  font-family: "Segoe UI", sans-serif;
}

.customButton {
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  background: #6ebe3b;
  color: #ffffff;
  border: none;
  padding: 10px 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: 0.2s all ease-in-out;
  border-radius: 0;
  &:hover {
    background: #000000;
  }
}

