<div style="background: #F8F6F5;">

    <div class="recipes">
        <div class="container">

            <div class="recipes-title">
                <h1>Submit Recipe</h1>
            </div>

        </div>
    </div>

    <div *ngIf="recipe">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="recipe-create">
                        <h2>Submit Recipe</h2>
                        <p>Please fill all the forms and share your recipe with the world!</p>
                    </div>

                    <form class="recipe-form" [formGroup]="recipeForm" novalidate (ngSubmit)="onSubmit()">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Author</label>
                                    <input type="text" class="form-control" formControlName="author"
                                           (onkeydown)="noWhitespace($event)">
                                    <div *ngIf="recipeForm.controls['author'].hasError('required')"
                                         class="alert alert-danger">You must include author.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Upload Image</label>
                                    <input type="file" ng2FileSelect [uploader]="uploader" class="form-control" required
                                           style="padding: 5px"/>
                                    <div *ngIf="recipe.image == null" class="alert alert-danger">You must upload
                                        image.
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="img-container" *ngIf="recipe.image != null">
                            <img class="img-fluid" [src]="recipe.image" alt="">
                        </div>

                        <div class="form-group">
                            <label>Recipe Title</label>
                            <input type="text"
                                   class="form-control"
                                   formControlName="title"
                                   (onkeydown)="noWhitespace($event)"
                            >
                            <div *ngIf="recipeForm.controls['title'].hasError('required')" class="alert alert-danger">
                                You must include title.
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Short Description</label>
                            <textarea formControlName="description"
                                      rows="5"
                                      class="form-control"
                                      (onkeydown)="noWhitespace($event)"
                            ></textarea>
                            <div *ngIf="recipeForm.controls['description'].hasError('required')"
                                 class="alert alert-danger">
                                You must include description.
                            </div>
                        </div>
                         <!--<div class="top">
                             <label>Ingredients</label>
                             <div class="input-group">
                                 <input type="text"
                                        class="form-control"
                                        aria-describedby="basic-addon1"
                                        [formControl]="ingredientName"
                                        (onkeydown)="noWhitespace($event)"
                                 >
                                 <span class="input-group-btn">
                                     <button style="background: #6ebe3b; color: #fff;"
                                             type="button"
                                             class="btn"
                                             id="basic-addon1"
                                             (click)="addIngredient(ingredientName.value)"
                                             [disabled]="!ingredientName.value"
                                     >
                                         <i class="fa fa-plus"></i>
                                     </button>
                                 </span>
                             </div>
                             <div class="ingredient-item"
                                  *ngFor="let ingredient of recipe.ingredients;let i = index">

                                 <div class="input-group">
                                     <input type="text"
                                            class="form-control"
                                            aria-describedby="basic-addon2"
                                            (onkeydown)="noWhitespace($event)"
                                            [value]="ingredient.name"
                                     >
                                     <span class="input-group-btn">
                                         <button style="background: #FF4136; color: #fff;"
                                                 type="button"
                                                 class="btn"
                                                 id="basic-addon2"
                                                 (click)="removeIngredient(i)">
                                             <i class="fa fa-remove"></i>
                                         </button>
                                     </span>
                                 </div>
                             </div>
                         </div>-->

                        <div class="top" formArrayName="ingredients">
                            <label>Ingredients</label>
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       aria-describedby="basic-addon1"
                                       #newIng
                                       (onkeydown)="noWhitespace($event)"
                                >
                                <span class="input-group-btn">
                                     <button style="background: #6ebe3b; color: #fff;"
                                             type="button"
                                             class="btn"
                                             id="basic-addon1"
                                             (click)="addIngredients(newIng.value)"
                                     >
                                         <i class="fa fa-plus"></i>
                                     </button>
                                 </span>
                            </div>
                            <div *ngFor="let ing of recipeForm.controls.ingredients.controls;let i = index">
                                <div [formGroupName]="i">
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control"
                                               aria-describedby="basic-addon1"
                                               formControlName="description"
                                               (onkeydown)="noWhitespace($event)"
                                        >
                                        <span class="input-group-btn">
                                     <button style="background: #FF4136; color: #fff;"
                                             type="button"
                                             class="btn"
                                             id="basic-addon2"
                                             (click)="removeIngredient(i)">
                                             <i class="fa fa-remove"></i>
                                         </button>
                                 </span>
                                        <small [hidden]="recipeForm.controls.ingredients.controls[i].controls.description.valid">
                                            Street is required
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="top">
                            <label>Steps</label>
                            <div class="input-group">
                            <textarea class="form-control"
                                      aria-describedby="basic-addon3"
                                      rows="5"
                                      [formControl]="directionName"
                                      (onkeydown)="noWhitespace($event)"
                            >
                            </textarea>
                                <span class="input-group-btn" style="vertical-align: top;">
                                    <button style="background: #6ebe3b; color: #fff;"
                                            type="button"
                                            class="btn"
                                            id="basic-addon3"
                                            (click)="addDirection(directionName.value)"
                                            [disabled]="!directionName.value"
                                    >
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="ingredient-item"
                                 *ngFor="let steps of recipe.steps;let i = index">

                                <div class="input-group">
                                <textarea style="width: 100%"
                                          name="dName-{{i}}"
                                          class="form-control"
                                          rows="5"
                                          aria-describedby="basic-addon4"
                                          [value]="steps.description"
                                          (onkeydown)="noWhitespace($event)"
                                ></textarea>
                                    <span class="input-group-btn" style="vertical-align: top;">
                                    <button
                                            style="background: #FF4136; color: #fff;"
                                            type="button"
                                            class="btn"
                                            id="basic-addon4"
                                            (click)="removeDirection(i)">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </span>

                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Main Ingredient</label>
                                    <select formControlName="mainIngredientId"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem"

                                    >
                                        <option value="" disabled [selected]="!recipe.mainIngredientId">Select main
                                            ingredient
                                        </option>
                                        <option *ngFor="let mainIng of mainIngredient" [value]="mainIng.id">
                                            {{mainIng.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Servings</label>
                                    <input type="text"
                                           class="form-control"
                                           formControlName="servings"
                                           onkeypress="if( (event.which &lt; 48 || event.which &gt; 57) ) return false;"
                                    >
                                    <div *ngIf="recipeForm.controls['servings'].hasError('required')"
                                         class="alert alert-danger">
                                        You must include servings.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Occasion</label>
                                    <select formControlName="occasionId"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem"
                                    >
                                        <option value="" disabled [selected]="!recipe.occasionId">Select an occasion
                                        </option>
                                        <option *ngFor="let occ of occasion" [value]="occ.id">{{occ.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Ready In (<span style="font-style: italic">minutes</span>)</label>
                                    <input type="text"
                                           class="form-control"
                                           formControlName="readyIn"
                                           onkeypress="if( (event.which &lt; 48 || event.which &gt; 57) ) return false;"
                                    >
                                    <div *ngIf="recipeForm.controls['readyIn'].hasError('required')"
                                         class="alert alert-danger">
                                        You must include time.
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Recipe Type</label>
                                    <select formControlName="recipeTypeId"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem">
                                        <option value="" disabled [selected]="!recipe.recipeTypeId">Select recipe type
                                        </option>
                                        <option *ngFor="let type of recipeTypes" [value]="type.id">{{type.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Cuisine</label>
                                    <select formControlName="cuisineId"
                                            class="form-control font-italic" style="font-size: 0.875rem">
                                        <option value="" disabled [selected]="!recipe.cuisineId">Select cuisine</option>
                                        <option *ngFor="let cuisine of cuisines" [value]="cuisine.id">{{cuisine.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Course</label>
                                    <select formControlName="courseId"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem">
                                        <option value="" disabled [selected]="!recipe.courseId">Select course</option>
                                        <option *ngFor="let course of courses" [value]="course.id">{{course.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Skill Level</label>
                                    <select formControlName="skillLevelId"
                                            class="form-control font-italic"
                                            style="font-size: 0.875rem"
                                    >
                                        <option value="" disabled [selected]="!recipe.skillLevelId">Select skill
                                        </option>
                                        <option *ngFor="let skill of skillLevel" [value]="skill.id">{{skill.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="text-xs-center">
                                <button class="btn customButton" type="submit"
                                        [disabled]="!recipeForm.valid || recipe.image == null">Submit Your Recipe
                                </button>
                            </div>

                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
