<div class="row">
    <div class="recent-recipes">

        <h2>Recent Recipes</h2>

        <div class="recipe-set" *ngFor="let recipe of recipes">

            <div class="recipe-set-image">
                <a href="">
                    <img [src]="recipe.image" alt="" class="img-fluid">
                </a>
            </div>
            <div class="recipe-set-detail">
                <h4>{{recipe.title}}</h4>
                <p>{{recipe.description}}</p>

            </div>

        </div>

    </div>
</div>
