
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="input-group form-search" style="margin-top: 45px;">
        <input type="search" class="form-control" formControlName="search" placeholder="Search for...">
        <span class="input-group-btn">
                <button *ngIf="searchForm.value.search" class="btn resetBtn" (click)="reset()" type="button"><i class="fa fa-remove"></i></button>
                <button class="btn searchBtn" type="submit" [disabled]="!searchForm.value.search"><i class="fa fa-search"></i></button>
             </span>
    </div>
    <!--{{searchForm.value | json}}-->
</form>
